<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <script>
        function toggleDropdown() {
            const dropdown = document.getElementById('dropdown-menu');
            if (dropdown.style.display === 'block') {
                dropdown.style.display = 'none';
            } else {
                dropdown.style.display = 'block';
            }
        }
    
        // Optional: Close the dropdown when clicking outside of it
        window.addEventListener('click', function (e) {
            const dropdown = document.getElementById('dropdown-menu');
            const button = document.querySelector('.dropdown-btn');
            if (!button.contains(e.target) && !dropdown.contains(e.target)) {
                dropdown.style.display = 'none';
            }
        });
    </script>
    
  
</head>
<body>
    <div class="navbar">
        <div class="support-number">
            <span>&#128222;</span> Tech Support Number: +91 8588870242
        </div>
        
        <div class="username">
            {% if session.get('username') %}
            <div class="dropdown">
                <button class="dropdown-btn" onclick="toggleDropdown()">
                    {{ session['username'] }} <span class="arrow">&#9660;</span>
                </button>
                <div class="dropdown-content" id="dropdown-menu">
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
            {% endif %}
        </div>
        
        
        
        
    </div>
    
    
    
    
    <div class="sidebar">
        <div class="logo">
            
            <a href="{{ url_for('home') }}">
                <img src="https://media.licdn.com/dms/image/v2/C560BAQHs471rMnnh1w/company-logo_200_200/company-logo_200_200/0/1630647941955/sseltd_logo?e=2147483647&v=beta&t=-pjLExeOAb9mot-c7W-4cd4OpBriA7gqLBs8svfNrn4" 
                    alt="Logo" class="logo-image">
            </a>
            
        </div>
    
        <a href="{{ url_for('home') }}"><i class="fas fa-home"></i> Home</a>
        <a href="{{ url_for('machines') }}"><i class="fas fa-cogs"></i> Machines</a>
        <a href="{{ url_for('control_panel') }}"><i class="fas fa-tools"></i> Control Panel</a>
    </div>
    
    
    <div class="content">
          <h1>kgiiv</h1>
    </div>
</body>
</html>
